<div class="flex-initial w-full p-2 my-2 text-center bg-gray-200 rounded-md md:my-4">
<div class="flex flex-row justify-between text-gray-500"><h5>{{user.name}}</h5><h5>{{formatTimestamp createdAt}}</h5></div>
<div class="p-2 mt-2 bg-white rounded-md md:p-4"><p class="text-left">{{content}}</p></div>
</div>