<a href='/posts/{{id}}'>
        <div class='w-full p-2 text-center bg-gray-200 rounded-md flex-init'>
            <h2
                class='inline-block px-4 py-2 text-xl text-center bg-white rounded-md md:text-2xl'
            >{{title}}</h2>
            <p
                class='px-2 py-2 mt-2 text-base text-left bg-white rounded-md md:px-4 md:text-lg'
            >
                {{content}}
            </p>
        </div>
    </a>